
<div class="container">
    <div class="row ftco-custom-gutters">
        <div class="col-md-12 text-center mb-5 ftco-animate">
            <h2 class="display-4">QUY TRÌNH LÀM VIỆC RÕ RÀNG</h2>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="lead">Với quy trình làm việc rõ ràng theo từng khâu, chúng tôi sẽ giúp bạn lựa chọn được dịch vụ phù hợp nhất với nhu cầu của mình.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <div class="div_quytrinh">
                <div class="div_quytrinhContain">
                    <div class="div_quytrinhImg">
                        <img src="~/Content/FE_Content/images/step 1.svg" alt="quy trinh buoc 1" />
                    </div>
                    <div class="div_quytrinhText">
                        <div class="div_quytrinhTitle">
                            1|Nhận tư vấn trực tiếp
                        </div>
                        <div class="div_quytrinhDescription">
                            Hai bên sẽ gặp trao đổi trực tiếp hoặc nói chuyện qua điện thoại.
                        </div>
                    </div>
                </div>
                <div class="div_quytrinhContain">
                    <div class="div_quytrinhImg">
                        <img src="~/Content/FE_Content/images/step 2.png" alt="quy trinh buoc 2" />
                    </div>
                    <div class="div_quytrinhText">
                        <div class="div_quytrinhTitle">
                            2|Thống nhất hợp đồng
                        </div>
                        <div class="div_quytrinhDescription">
                            Thỏa thuận các yêu cầu dịch vụ & tiến hành ký hợp đồng.
                        </div>
                    </div>
                </div>
                <div class="div_quytrinhContain">
                    <div class="div_quytrinhImg">
                        <img src="~/Content/FE_Content/images/step 3.png" alt="quy trinh buoc 3" />
                    </div>
                    <div class="div_quytrinhText">
                        <div class="div_quytrinhTitle">
                            3|Đặt cọc
                        </div>
                        <div class="div_quytrinhDescription">
                            Bạn sẽ đặt cọc 1 khoản phí để bên mình tiến hành thiết kế.
                        </div>
                    </div>
                </div>
                <div class="div_quytrinhContain">
                    <div class="div_quytrinhImg">
                        <img src="~/Content/FE_Content/images/step 4.png" alt="quy trinh buoc 4" />
                    </div>
                    <div class="div_quytrinhText">
                        <div class="div_quytrinhTitle">
                            4|Thiết kế
                        </div>
                        <div class="div_quytrinhDescription">
                            Mình sẽ lên thiết kế cho bạn dựa trên những gì đã thống nhất.
                        </div>
                    </div>
                </div>
                <div class="div_quytrinhContain">
                    <div class="div_quytrinhImg">
                        <img src="~/Content/FE_Content/images/step 5.png" alt="quy trinh buoc 5" />
                    </div>
                    <div class="div_quytrinhText">
                        <div class="div_quytrinhTitle">
                            5|Gửi mẫu duyệt
                        </div>
                        <div class="div_quytrinhDescription">
                            Mẫu thiết kế sẽ được gửi cho khách hàng duyệt.
                        </div>
                    </div>
                </div>
                <div class="div_quytrinhContain">
                    <div class="div_quytrinhImg">
                        <img src="~/Content/FE_Content/images/step 6.png" alt="quy trinh buoc 6" />
                    </div>
                    <div class="div_quytrinhText">
                        <div class="div_quytrinhTitle">
                            6|Thi công tiệc
                        </div>
                        <div class="div_quytrinhDescription">
                            OK hết rồi! Tụi mình sẽ lên tiệc đẹp lồng lộng cho bạn.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>