.ImageHinhnenAdmin {
    width: 100%;
    opacity:0.8;
}
#extr-page{
    background-color: unset !important;
}
.CustomFormLogin {
    padding-top: 50px !important
}

.topHeaderButton span a {
    padding: 5px !important;
}

.navbar-span {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: 400;
}

.divModal table {
    align-content: center;
    width: 100%;
}

.divModal tr td {
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 12px;
}

.dialogClass {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dot {
    height: 25px;
    width: 25px;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
}

.message_cover {
    padding: 20px;
    position: relative;
    font-size: 20px;
}

.message_title {
    font-weight: bolder;
    padding: 10px;
}

.message_info span {
    font-weight: bold;
}

.message_content {
    padding: 10px;
    margin: auto;
    border-radius: 15px !important;
    border: 1px solid #ccc !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    min-height:200px;
}

.message_covercontent legend {
    font-weight: bolder;
}

.message_from {
    float: left;
}

.message_info {
    padding: 10px;
    margin: auto;
}

.catchover {
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-modal{
    display:flex;
    text-align:center;
}
.form-modal > div {
    width:40%;
    margin:auto;
}
.select2-hidden-accessible{
    display:none !important;
}