
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/FE_Layout/_LayoutFE.cshtml";
}

<div class="bg-color-forform">
    <div class="container content-sm">
        <div class="row">
            <div class="notice_thankyou">
                Cảm ơn bạn đã gửi yêu cầu ! Mời bạn click vào <a style="text-decoration:underline" href="@Url.Action("Index","Art_FEHome")">đây</a> để quay về trang chủ.
            </div>
        </div>
    </div>
</div>