@model MainLibrary.Entity.WebCenter.Category[]


@{
    /**/

    foreach (var item in Model)
    {
        <div class="div_leftmenu_item">
            <a href="@Url.Action("Chitiet","DanhMuc",new { id = item.Id })"><img class="imgContact" src="@item.FEPath" /></a>
        </div>
    }
}
